language: node_js
node_js:
- '5.11'
cache:
  directories:
  - node_modules
install:
- |
  sudo pip install "graphene>=1.0.dev"
  npm install
script:
- |
  if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = false ]; then
    echo "Building the web."
    GH_PAGES_DIR="$TRAVIS_BUILD_DIR"/public
    GH_DOCS_DIR="$TRAVIS_BUILD_DIR"/docs
    git config --global user.name "Travis CI"
    git config --global user.email "travis@graphene-python.org"
    git clone --branch gh-pages --depth=50 \
      https://graphql-python-bot@github.com/graphql-python/graphene-python.org.git \
      $GH_PAGES_DIR

    git clone --branch docs --depth=50 \
      https://graphql-python-bot@github.com/graphql-python/graphene-python.org.git \
      $GH_DOCS_DIR

    ./playground/graphene-js/build.sh
    npm run build
    cd $GH_PAGES_DIR
    git status
    git add --intent-to-add .
    if ! git diff-index --quiet HEAD --; then
      git add -A .
      git commit -m "Rebuild website"
      git push "https://${GITHUB_TOKEN}@github.com/graphql-python/graphene-python.org.git" gh-pages
    fi

    DOCS_PACKAGE_DIR="$GH_DOCS_DIR"/sphinx_graphene_theme/
    DOCS_PACKAGE_STATIC="$DOCS_PACKAGE_DIR"/static/

    # Updating template docs
    cp app.css $DOCS_PACKAGE_STATIC
    cp bundle.js $DOCS_PACKAGE_STATIC
    cp bundle.js.map $DOCS_PACKAGE_STATIC
    cp docs_template.html $DOCS_PACKAGE_DIR

    

    exit
  fi
env:
  global:
    secure: cDHFNxSAyNHOebi6E/nNmCoj3s5Z6DXhrxldhbg155JIAbRyLkcKyBc3jpqgRKYv+1PNg3QJ4bngxWbvC+5M78Ft7eCKvDpltsQSIdymTbSRCn7jsmKSu16chHXnisBbAc6d6DCt5SYobiw67Cuv8nDFccON625yqfENgDQ7jrmpc245aZ46zlGaj3osSEVaiuTPWKFhkKhdcdhyTEzb8Mi7WDly/8WNiAOUpEG7CoJmanoqoTNuFeIxINbDSfvu9xQJJyDc2kuqkvUZlQyZ3nBPr0+aBg7DdkJBUs6mEidm3vrOlFbgp2oNgK+YtBMDWEtQkdK7Q9l9ltkpCNndkw9C1wQzAR4JhMdQ+iZ7qvfkrjCthYiMlPwEG+p4/kiieEARjz2GtGad/MWoL/WTktlUVtq7pAZTs9eCtW7CklA/QZYKxTtjpplTDInchho8/AzTfmM6kzJmi6ql3uwsKYDQ9qXERM/13uTfgUFONglacFKpK4YjKXoxl7XjBQoWwjUpn9DX/CXLqcMxtNKqUXLtr7U5OM2KUd0zB+yfbwoOEsMjZNfCZmfMQKw+G+TkEw79MqBJya//ZEvTV+cwdqFwY03sYbQP3J6gw72piht+POnPnWvM6P2l5oJfmsUxVieog8+1Kc5MMF7K3IDoVYPUJkRSG8aHjqKAw+iYcf8=
